@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: .3s;
}
img{
    display: block;
}
#wrap{width: 1200px;
margin: 0 auto;}
header{height: 100px; display: flex;}
#slide{height: 300px;}
#contents{height: 200px;}
footer{height: 100px; background: #eee; display: flex; text-align: center;}
.logo{padding: 30px 0;width: 200px;}
nav{width: 1000px; height: 100px; background: #ccc;}

/* .gnb */
.sub{display: none; height: 160px   ;}
/* .gnb:hover .sub{display: block;} */
.gnb a{text-align: center;
line-height: 40px;}
.gnb li{width: 150px;}
.gnb{
    width: 600px;
    position: relative;
    top: 30px; left: 370px;
    display: flex;
    background: #fff;
}
.sub a{line-height: 32px;}
.gnb li:hover>a{background: #333; color: #fff;}

/* slide */
#slide {overflow: hidden;}
#slide ul{
    animation: slide 9s infinite;
}
@keyframes slide{
    0%{margin-top: 0;}
    33%{margin-top:  -300px;}
    66%{margin-top:  -600px;}
    100%{margin-top: -900px;}
}
/* contents */
#contents{display: flex;}
#contents section{
    width: 400px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.tap a{text-align: center;
line-height: 29px;
border-bottom: 1px #333 solid;}
.tap li{width: 50%;}
.tap {display: flex;}


/* notice */
.subject{
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.date{
    width: 30%;
    text-align: right;
}
.notice a{display: flex;
font-size: 15px;
line-height: 25px;}
.tap a:hover,.notice a:hover{
    background: #333;color: #fff;
}

/* gallery */
.gallery img{width: 100px;}
.gallery li{width: 1000px;
padding: 25px 0;}
.gallery{display: flex;
 justify-content: space-between;
display: none;}
.gallery a:hover{opacity: .6;} 
/* 배너 */
.banner:hover{opacity: .8;}
.title{text-align: center;
line-height: 29px;
border-bottom: 1px #333 solid;}

/* 바로가기 */
.shortcut img{width: 100px;}
.shortcut li{width: 1000px;
padding: 25px 0;}
.shortcut{display: flex;
 justify-content: space-around;
 text-align: center;
 line-height: 25px;
 font-size: 13px;}
.shortcut a:hover{opacity: .6; text-decoration: underline;}

/* 풋터 */
.copyright{width: 850px; padding: 30px 0;}
.sns{width: 150px; padding-top: 34px;}
.sns select{
    width: 120px;
    height: 32px;
}

/* popup */
#popup{
    width: 100%; 
    height: 100vh; 
    background:rgba(0, 0, 0, .8);
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    display: none;
}
.popup_body{
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 10px;

    border: 5px blue solid;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%) ;
    text-align: center;

}
.popup_body h3{
    line-height: 80px;
}
.popup_body p{
    padding:  0 20px;
    height: 260px;
    text-align: left;
}
.close{width: 120px;
line-height: 40px;}